<header id="home">
    <div class="container-fluid header-content">
        <div class="row">
            <div class="col">
                <div class="content-box text-center text-light">
                    <img src="/company-logo/logo.png" alt="logo">
                </div>
            </div>
        </div>
    </div>
</header>