<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Login</title>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="../stylesheets/login.css">
    </head>

    <body class="position-relative" data-bs-spy="scroll">
        <%- include('./partials/navbar.ejs') %>
        <%- include('./partials/login.ejs') %>
        <%- include('./partials/scripts.ejs') %>
    </body>

</html>