table {
    text-align: center;
}
table td, th {
    vertical-align: baseline;
}
table td, th, tr{
    border: 1px solid rgb(181, 181, 181);
}
table thead tr th{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.visited>td {
    background: none;
}
.visited .details-btn{
    color: purple !important;
}
.visited {
    background-color: rgba(218, 217, 223, 0.559);
}
#search:focus {
    box-shadow: 0px 0px 10px rgb(181, 181, 181);
    outline: none;
    border: none;
}
.meme-name{
    text-transform: capitalize;
}
.meme-image{
    border-radius: 0.25rem;
    border: 1px solid black;
}
